/* pt -profile top  */

.profile {
  color: var(--color-primary);
}

/*pt1 profile top start  */
.profile_top {
  margin-top: 65px;
  /* box-shadow: 0 1px 2px var(--shadow-2); */
  /* background: var(--bg-primary); */
  /* background: var(--bg-secondary); */
  background-size: 65px;
}

.profile_container {
  max-width: 650px;
  margin: 0 auto;
}

.profile_cover {
  position: relative;
  height: 150px;
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: var(--bg-secondary);
}


.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.udpate_cover_wrapper {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}
.open_cover_update {
  background: #eae1d8;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  font-size: 12px;
  color: #111;
  border-radius: 30px;
  cursor: pointer;
}
.open_cover_update i {
  transform: scale(0.9);
  margin-top: 4px;
}
.open_cover_menu {
  background: #f7f6f6;
  position: absolute;
  top: -18px;
  padding: 3px;
  width: 140px;
  border-radius: 20px;
  box-shadow: 0 12px 20px 0 var(--shadow-1), 0 2px 4px 0 var(--shadow-2),
    inset 0 0 0 px var(--shadow-inset);
  z-index: 99;
  left: 141px;
}
.open_cover_menu_item {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 5px;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  border-radius: 10px;
}

.open_cover_menu_respond{
  background: #f7f6f6;
  position: absolute;
  top: 35px;
  padding: 3px;
  width: 76px;
  border-radius: 5px;
  box-shadow: 0 12px 20px 0 var(--shadow-1), 0 2px 4px 0 var(--shadow-2), inset 0 0 0 px var(--shadow-inset);
  z-index: 99;
  left: 10px;

}
.open_cover_menu_friends{
    background: var(--color-secondary);
    position: absolute;
    top: 30px;
    padding: 3px;
    width: 112px;
    border-radius: 5px;
    box-shadow: 0 12px 20px 0 var(--shadow-1), 0 2px 4px 0 var(--shadow-2), inset 0 0 0 px var(--shadow-inset);
    z-index: 99;
    left: -11px;
}
/*pt1.2 Profile picture inofs  start */
.profile_img_wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0.2rem;
  margin-bottom: -3.8rem;
}
.profile_w_left {
  display: flex;
  gap: 0.2rem;
  padding: 4px 4px 0px 4px;
}
.profile_w_img {
  position: relative;
}
.profile_w_bg {
  width: 120px;
  height: 120px;
  transform: translateY(-4.4rem);
  border-radius: 25%;
  background-repeat: no-repeat;
  border: 2px solid #6c6c6c;
  background: #fff;
  cursor: pointer;
  /* position: absolute; */
}
.profile_w_bg:hover {
  filter: brightness(95%);
}
.profile_circle {
  position: absolute;
  bottom: 3.5rem;
  right: 2.55rem; 
  background: var(--bg-third);
  width: 30px;
  height: 30px;
  border-radius: 80%;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.profile_name {
  display: flex;
  align-items: center;
  gap: 2px;
  font-weight: 700;
  font-size: 22px;
  /* justify-content: center; */
  /* flex-direction: column; */
  margin-top: 10px;
}

/* //profile-- right  */
.profile_w_right {
  display: flex;
  gap: 0.2rem;
  padding: 4px 4px 0px 4px;
  margin-bottom: 0.2rem;
}

.right_logo {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  font-size: 20px;
  justify-content: center;
  /* flex-direction: column; */
  margin-top: -56px;
}

.invert {
  filter: invert(100%);
}

/* // profile_menu_wrap */
     
/* ppl you may no over  */

.profile_grid {
  grid-template-columns: 1fr 1.4fr;
  gap: 10px;
}
  .profile_left {
    display: flex;
  }

.profile_menu_wrap {
  position: relative;
  padding: 0 2.2rem;
}
.profile_menu {
  position: relative;
  border-top: 1px solid var(--border-color);
  display: flex;
  padding: 0;
}
.profile_menu a {
  height: 54px;
  width: 78.5px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 3px 0;
  color: var(--color-secondary);
}
.profile_menu_active {
  height: 60px !important;
  width: 65px !important;
  margin: 0 !important;
  color: var(--blue-color) !important;
  border-bottom: 3px solid var(--blue-color);
  border-radius: 0 !important;
}
.p10_dots {
  background: var(--bg-third);
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 5px;
  display: grid;
  place-items: center;
  padding: 8px 14px;
}
.p10_dots svg {
  width: 16px;
  height: 16px;
  margin-top: 2px;
  margin-left: 2px;
}

/* ------- */


/*pb1.1 ppl u may know------*/

.profile_bottom {
  margin-top: 10px;
  
}
.bottom_container {
  padding: 0px 2px;
}

.pplumayknow {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  /* border: 3px solid #bebebe; */
  padding: 5px 10px;
}
  .pplumayknow_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
  }
  .pplumayknow_list {
    display: flex;
    gap: 5px;
    align-items: center;
    height: 140px;
  }
    .pplumayknow_list .light_blue_btn {
      color: var(--blue-color);
    }
    .addfriendCard {
      position: relative;
      height: 100%;
      width: 100px;
      border-radius: 10px;
      overflow: hidden;
      background: var(--bg-primary);
    }
      .addfriend_imgsmall {
        width: 100%;
        height: 70px;
      }
        .addfriend_imgsmall img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .addfriend_infos {
          padding: 0px;
          text-align: center;
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
          .addfriend_name {
            font-size: 12px;
            font-weight: 600;
          }
      .light_blue_btn img {
        width: 20px;
      }



/*------ppl u may know------*/
.left_header_grid {
  font-size: 22px;
  font-weight: 600;
}
.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr) !important;
  font-size: 14px;
}
.view_type {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 600;
  color: var(--color-secondary);
}
.grid2 .active {
  color: var(--blue-color);
  margin-left: 160px;
}
.othername {
  color: var(--color-secondary);
  font-size: 20px;
}
.no_posts {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  color: var(--color-secondary);
}
 



/*--Menu-------*/
/*-----profile card--------*/
.profile_card {
  background: var(--bg-primary);
  border-radius: 10px;
  box-shadow: 2px 4px 0px var(--shadow-1);
  padding: 10px 15px;
  margin-top: 15px;
  margin-right: 10px;
}
.profile_card_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
}
.profile_header_link {
  font-weight: normal;
  font-size: 16px;
  color: var(--blue-color);
  cursor: pointer;
  padding: 5px 10px;
}
.profile_header_link:hover {
  background: var(--bg-secondary);
}
.profile_card_count {
  color: var(--color-secondary);
}
.profile_card_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
}
.profile_photo_card {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.profile_photo_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.profile_photo_card span {
  color: var(--color-primary);
  font-size: 13px;
  padding-left: 1px;
}
.profile_friend_count {
  font-weight: 600;
}
.profile_friend_imgs {
  display: flex;
  align-items: center;
}
.profile_friend_imgs img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 0 1px 2px var(--shadow-1);
}
.profile_friend_imgs img:hover {
  filter: brightness(110%);
}

/* cover picture  */
.cover_crooper {
  height: 100%;
}
.cover_crooper img {
  object-fit: cover;
  width: 100%;
}
.cover_crooper .reactEasyCrop_Container {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.save_changes_cover {
  z-index: 999999999;
  position: fixed;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 22%;
  padding: 0px 10px;
  background: rgba(0, 0, 0, 0.7);
  font-weight: 500;
  font-size: 14px;
  color: var(--color-primary);
  margin-left: 75%;
}
.save_changes_left {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}
.save_changes_left i {
  filter: invert(100%);
}
.save_changes_right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.save_changes_right button {
  padding: 10px;
}
.save_changes_right button:first-of-type {
  width: 100px;
  background: #39393f;
}
.save_changes_right button:last-of-type {
  width: 160px;
}

.selectCoverBox {
  width: 570px !important;
  max-width: 80vw;
}
.selectCoverBox_links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5px 15px;
}
.selectCoverBox_link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  padding: 5px 0 10px 0;
  cursor: pointer;
}
.selectCoverBox_link:first-of-type {
  color: var(--blue-color);
  border-bottom: 3px solid var(--blue-color);
}

/*  */


/*  */
.box_header_cover_update {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 5px;
  cursor: pointer;
  border-bottom: 1px solid var(--bg-third);
}

/*-----profile card--------*/
@media (max-width: 900px) {
  .profile_w_left {
    flex-direction: column;
    align-items: center;
  }
  .profile_w_col {
    transform: translateY(-3.6rem);
  }
  .profile_w_right {
    transform: translateY(-3.6rem);
  }
  .profile_img_wrap {
    flex-direction: column;
    justify-content: center;
  }
  .profile_circle {
    right: 1rem;
  }
  .profile_name {
    padding-bottom: 10px;
    flex-direction: column;
  }
  .pplumayknow {
    display: none;
  }
  .profile_grid {
    grid-template-columns: 1fr;
    width: 95%;
  }
  .bottom_container {
    padding: 5px;
  }
  .friendship {
    transform: translateY(-4rem);
  }
  .othername {
    transform: translateY(-10px);
  }
  .profile_friend_count {
    text-align: center;
    transform: translateY(-15px);
  }
  .profile_friend_imgs {
    justify-content: center;
    transform: translateY(-10px);
  }

}
button:hover{cursor: pointer}
    button {
      background: transparent; outline: none;
      position: relative;
      padding: 14px 27px;
      overflow: hidden;
      border: none;
    }

    /*button:before (attr data-hover)*/
    button:hover:before{opacity: 1; transform: translate(0,0);}
    button:before{
      content: attr(data-hover);
      position: absolute;
      top: 1.1em; left: 0;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 800;
      font-size: .8em;
      opacity: 0;
      transform: translate(-100%,0);
      transition: all .3s ease-in-out;
    }
      /*button div (button text before hover)*/
      button:hover div{opacity: 0; transform: translate(100%,0)}
      button div{
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 800;
        font-size: .8em;
        transition: all .3s ease-in-out;
      }
 @media (max-width: 650px) {
   .profile_menu_wrap {
     display: none;
   }
 }
 @media (max-width: 510px) {
   .udpate_cover_wrapper {
     bottom: 3rem;
   }
 }
 /* .scrollFixed .profile_left {
   position: fixed;
   width: 360px;
 }
 .scrollFixed .profile_right {
   margin-left: 370px;
   width: 505px;
 } */
 .showLess .profile_left {
   bottom: 10px;
 }
 .showMore .profile_left {
   top: 54px;
 }
 .friendship {
   z-index: 9;
   display: flex;
   align-items: center;
   gap: 10px;
 }
 .friendship .blue_btn {
   height: 35px;
 }
 @media (min-width: 900px) {
  .friendship {
    transform: translateX(-2rem);
  }
}

